<!-- Whole Document Global Footer -->
<footer
  class="border-t border-slate-800 bg-slate-900 text-white py-4 px-6 lg:px-8 mt-12"
>
  <div
    class="max-w-7xl mx-auto flex flex-col md:flex-row md:items-center justify-between gap-6"
  >
    <div>
      <h3 class="font-bold text-base tracking-wide text-white">
        Pharmaceutical Stock Auditing & Inventory Optimization System
      </h3>
      <p class="text-xs text-slate-400 font-mono mt-1">
        PharmaAudit OS • Inventory, Sales & Stock Auditing System
      </p>
    </div>
    <div
      class="text-left md:text-right border-t md:border-t-0 border-slate-800 pt-4 md:pt-0"
    >
      <p class="font-semibold text-sm text-slate-200">
        Developed by
        <a
          href="https://github.com/faruqueoumar-glitch/fyp"
          target="_blank"
          rel="noopener noreferrer"
          class="text-slate-200 hover:text-white underline transition font-bold"
          >Hamza Modibbo Ibrahim</a
        >, CSC/22U/4467
      </p>
      <p class="text-slate-400 text-xs mt-1">
        Pharmaceutical Stock OS &copy; 2026 • All Rights Reserved
      </p>
    </div>
  </div>
</footer>
